:root {
    --color:#7868e6;
  }
  
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
  } */
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  .btn {
    position: relative;
    z-index: 0;
    width: 160px;
    height: 80px;
    line-height: 80px;
    color: var(--color);
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0,0,0,0.4));
  }
  
  .btn:hover {
    color: #fff;
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color);
    background-color: var(--color);
  }
  
  .btn:hover::after {
    transition: .3s;
    background: var(--color);
  }
  
  .btn:hover::before {
    transition: .3s;
    background: var(--color);
  }
  
  .btn::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    background-image: linear-gradient(var(--color), var(--color));
    transform-origin: left top;
    animation: rotate 2s linear infinite; 
  }
  
  .btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #000;
    border-radius: 10px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .btn2 {
    filter: hue-rotate(80deg);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(to-right, #422419,#000000); */
    background-image: linear-gradient(to right, #422419 , #000000);
  }
  
  .logo {
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    width: 100px;
  }
  
  .form-box {
    width: 380px;
    backdrop-filter: blur(10px);
    /* height: 500px; */
    position: relative;
    margin: 6% auto;
    background: #fff8;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
  }
  
  .button-box {
    width: 80%;
    margin: 35px auto;
    
    box-shadow: 0 0 20px 9px rgba(0, 0, 0, .1);
    border-radius: 30px;
    
  }
  
  .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    
    background: transparent;
   
    border: 0;
    outline: none;
  }
  
  .active {
    
    background: linear-gradient(to right, #FA4B37, #DF2771);
    border-radius: 30px;
    transition: 0.5s;
  }
  
  .social-icons {
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .social-icons a {
    width: 30px;
    color: black;
    font-size: 25px;
  }
  
  .social-icons a:nth-child(2) {
    color: #4267B2;
  }
  
  .social-icons a:nth-child(3) {
    color: #1DA1F2;
  }
  
  
  .input-group {
    top: 180px;
    position: absolute;
    
    /* width: 100%; */
    width: 280px;
    transition: .5s;
    font-size: 13px;
    color: #010101;
  }
  
  .inp {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: center;
  }
  
  .inp img {
    width: 20px;
    padding-right: 10px;
  }
  
  
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0 auto 5px;
    border-left: 0;
    border-radius: 25px;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    background: transparent;
    color: rgba(0, 0, 0);
  }
  
  ::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
  
  #register .input-field {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #FA4B37, #DF2771);
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  
  .check-box {
    cursor: pointer;
    margin: 30px 10px 30px 0;
  }
  
  .instead {
    margin-top: 10px;
  }
  
  .instead h3 {
    overflow: hidden;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .instead h3:before,
  .instead h3:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .instead h3:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .instead h3:after {
    left: 0.5em;
    margin-right: -50%;
  }
  
  span {
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
  }
  
  #login {
    left: 50px;
  }
  
  #register {
    left: 450px;
  }
  
  .other {
    display: grid;
    justify-content: center;
    margin-top: 250px;
  }
  
  .connect {
    display: flex;
    margin: 10px;
    padding: 0px 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid lightgray;
    cursor: pointer;
    outline: none;
    background: #fff3;
  }
  
  .connect:hover {
    background: #fff8;
  }
  
  .connect img {
    padding: 5px;
    width: 25px;
  }
  
  .connect span {
    padding: 10px;
    font-size: 15px;
  }
  